.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content--normal {
  height: 100%;
}

.content--small {
  padding-top: 10px;
}

.content__block {
  height: auto;
  max-width: 900px;
}
