// import in your application in JS:
// import 'react-day-picker/lib/style.css';
// OR import in your application in SASS:
// @import '~react-day-picker/lib/style.css';

.DayPicker-Day:not(.DayPicker-Day--today) {
    color: $ui-color-neutral-dark;
}

.DayPicker-Day {
    min-width: 42px;
}

.#{$ui-prefix}__form__datepikcer__overlay--right-align {
    right: 0;
    left: initial;
}
