@import '../../style/vars/main';

/* General variables */
$ui-navbar-height: 46px !default;
$ui-navbar-padding: 15px !default;
$ui-navbar-padding-small: 7px !default;

/* Header */
$ui-navbar-header-bg-color: #f5f7fa !default;
$ui-navbar-header-bg-color-light: darken($ui-navbar-header-bg-color, 2) !default;
$ui-navbar-header-color: #9aa5b1 !default;
$ui-navbar-header-color-light: darken($ui-navbar-header-color, 2) !default;
$ui-navbar-header-border-color: darken($ui-navbar-header-bg-color, 3) !default;

/* Body */
$ui-navbar-body-header-bg-color: #ececec;
$ui-navbar-body-border-color: #fcfcfc;
$ui-navbar-body-bg-color: #fcfcfc;
$ui-navbar-body-query-bg-color: $ui-navbar-body-header-bg-color;
$ui-navbar-body-query-color: #898989;
$ui-navbar-body-query-focus-border-color: $ui-color-accent;

/* Utils */
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

/* DashboardMenu container:
This is the element that contains the entire menu, both header and body

*/
.#{$ui-prefix}__navbar {
    height: $ui-navbar-height;
    z-index: 1;
}

.#{$ui-prefix}__navbar--sticky {
    width: 100%;
    position: fixed;
    top: 0;
}

.#{$ui-prefix}__navbar--stycky-margin {
    margin-top: $ui-navbar-height;
}

/* DashboardMenu header, the always visible part */
.#{$ui-prefix}__navbar__header {
    /* Position and dimension */
    position: absolute;
    top: 0;
    width: 100%;
    height: $ui-navbar-height;
    /* Colors */
    background-color: $ui-navbar-header-bg-color;
    color: $ui-navbar-header-color;
    /* Flex configuration and Children spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Border */
    border-bottom: 1px solid $ui-navbar-header-border-color;
}

/* Block is an element within the header, that can contains many items */
.#{$ui-prefix}__navbar__group {
    display: flex;
}

.#{$ui-prefix}__navbar__group--left {
    text-align: left;
}

.#{$ui-prefix}__navbar__group--center {
    text-align: center;
}

.#{$ui-prefix}__navbar__group--right {
    text-align: right;
}

/* A single item inside header */
.#{$ui-prefix}__navbar__group__item {
    display: inline-flex;
    align-items: center;
    height: $ui-navbar-height;
    padding: 0 $ui-navbar-padding;
}

.#{$ui-prefix}__navbar__group__item--clickable {
    cursor: pointer;
}

.#{$ui-prefix}__navbar__group__item--link {
    color: $ui-navbar-header-color;
    text-decoration: none;
    padding: 0 10px;
    line-height: $ui-navbar-height;
    cursor: pointer;
}

.#{$ui-prefix}__navbar__group__item--clickable:hover,
.#{$ui-prefix}__navbar__group__item--link:hover {
    color: $ui-navbar-header-color-light;
    background-color: $ui-navbar-header-bg-color-light;
}

/* DashboardMenu body */
.#{$ui-prefix}__navbar__body {
    position: absolute;
    z-index: 10;
    top: $ui-navbar-height;
    width: 100%;
    border: 1px solid $ui-navbar-body-border-color;
    background-color: $ui-navbar-body-bg-color;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.#{$ui-prefix}__navbar__body--floating-controls {
    display: flex;
    flex-direction: row-reverse;
}

.#{$ui-prefix}__navbar__body__item {
    padding-bottom: 15px;
    flex-grow: 1;
}

.#{$ui-prefix}__navbar__body__header {
    width: 100%;
    /* Flex configuration and Children spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.#{$ui-prefix}__navbar__body__query {
    width: calc(100%);
    text-align: left;
    display: flex;
}

.#{$ui-prefix}__navbar__body__query__input {
    width: 98%;
    border: 0;
    border-bottom: 2px solid $ui-navbar-body-bg-color; /* assign a border bottom to not change spacing on focus */
    font-size: 1.1em;
    color: $ui-navbar-body-query-color;
    padding: 5px;
    margin-bottom: 1px;
    margin-right: 10px;
    order: 2;
    background-color: inherit;

    &:focus {
        outline: none;
        border-bottom: 2px solid $ui-navbar-body-query-focus-border-color;
        box-shadow: none;
    }

    @include placeholder {
        color: lighten($ui-navbar-body-query-color, 25%);
        font-weight: 100;
    }
}

.#{$ui-prefix}__navbar__controls {
    /* width: $dashboard-menu-body-controls-width; */
    text-align: right;
    padding-right: $ui-navbar-padding-small;
    padding-top: 7px;
}

.#{$ui-prefix}__navbar__controls--floating {
    position: absolute;
    right: 0;
    top: 3px;
}
