.#{$ui-prefix}__navbar__link {
    color: var(--text-color-secondary);
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;

    &:hover {
        color: var(--text-color-light);
    }
}
