.#{$ui-prefix}__menu {
}

.#{$ui-prefix}__menu__entry {
    padding: 9px;
}
.#{$ui-prefix}__menu__entry:hover {
    background-color: var(--background-color-light);
}

.#{$ui-prefix}__menu__entry--clickable {
    cursor: pointer;
}
.#{$ui-prefix}__menu__entry--disabled {
    cursor: not-allowed;
    color: $ui-color-neutral-disabled;
}

.#{$ui-prefix}__menu__divider {
    border-bottom: 1px solid var(--background-color-light);
}
