$ui-color-primary: #247ea3;
$ui-color-on-primary: white;

$ui-color-accent: #00d0b7;
$ui-color-on-accent: black;

$ui-color-secondary: #e8eddf;
$ui-color-on-secondary: black;

$ui-color-neutral: #bfd7ea;
$ui-color-on-neutral: black;

$ui-color-positive: #36a53c;
$ui-color-on-positive: white;

$ui-color-negative: #ff5a5f;
$ui-color-on-negative: white;

$ui-color-warning: #ffd166;
$ui-color-on-warning: black;
