@import './colors';
@import './shadows';

/* Font */
$ui-font: 'Segoe UI', -apple-system, 'Ubuntu', sans-serif !default;
$ui-font-code: source-code-pro, Monaco, Consolas, 'Courier New', monospace !default;
$ui-font-color: #3c3b3e !default;
$ui-font-size: 14px !default;
$ui-font-size-big: 1.25rem !default;
$ui-font-size-small: 0.75rem !default;

/* Global values */
$ui-content-padding: 15px !default;
$ui-page-padding: $ui-content-padding !default;
$ui-readable-content-min-width: 1400px !default;

/* Navbar */
$ui-navbar-height: 46px !default;

/* Sidebar */
$ui-sidebar-closed-width: 46px !default;

/* Page (Dashboard SPA) */
$ui-dashboard-header-height: $ui-navbar-height !default;
$ui-dashboard-footer-height: 0 !default;
