.#{$ui-prefix}__form__dropzone {
    width: 100%;
}

.#{$ui-prefix}__form__dropzone__drop-area {
    width: 100%;
}

.#{$ui-prefix}__form__dropzone__message {
    padding: $ui-content-padding;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        border: 1px solid var(--accent-color);
        color: var(--accent-color);
    }
}

.#{$ui-prefix}__form__dropzone__message--active {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}
.#{$ui-prefix}__form__dropzone__message--inactive {
    border: 1px solid $ui-form-input-border-color;
    color: $ui-form-placeholder-color;
}

.#{$ui-prefix}__form__dropzone__files {
    width: 100%;
    padding: $ui-content-padding / 2 0;
}

.#{$ui-prefix}__form__dropzone__files__file {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: var(--text-color);
    border-bottom: 1px solid $ui-form-input-border-color;

    &:hover {
        background-color: var(--background-color-light);
    }
}

.#{$ui-prefix}__form__dropzone__files__file__name {
    color: var(--neutral-color);
}

.#{$ui-prefix}__form__dropzone__files__file__remove {
    color: $ui-color-negative;
    padding: 2px 6px;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid var(--accent-color);
    }
}

.#{$ui-prefix}__form__dropzone__files__file__remove--disabled {
    color: var(--neutral-color);
}
