@import '../../vars/main';

$ui-form-field-padding: 7px 0 !default;
$ui-form-input-border-color: $ui-color-grey-light !default;
$ui-form-label-padding-right: $ui-page-padding !default;

@import './field';
@import './input';
@import './label';
