@import '../../vars/main';

$ui-form-field-padding: 7px 0 !default;
$ui-form-input-border-color: $ui-color-grey-light !default;
$ui-form-input-border-color-over: $ui-color-accent !default;
$ui-form-label-padding-right: $ui-page-padding !default;
$ui-form-input-padding: 5px !default;
$ui-form-input-disabled-color: $ui-color-grey-light !default;

@import './field';
@import './input';
@import './label';
@import './textarea';
@import './react-select';
