@import '../../vars/colors';

.borrow-ui__form__field__input {
    border: 1px solid $ui-form-input-border-color;
    background-color: transparent;
    padding: $ui-form-input-padding;
    width: 100%;

    &:not(:disabled):hover {
        border-color: $ui-form-input-border-color-over;
    }
}

.borrow-ui__form__field__input::placeholder {
    color: $ui-color-neutral-light;
    font-family: $ui-font;
}

.borrow-ui__form__field__input--disabled {
    background-color: $ui-form-input-disabled-color;
}

.borrow-ui__form__field__input--invalid {
    border: 1px solid $ui-color-negative;
}
