@import '../../style/vars/main';

.#{$ui-prefix}__popover__outer-container {
    display: inline-block;
}

.#{$ui-prefix}__popover {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    box-shadow: $ui-shadow-regular;
    padding: 0;
    z-index: 1;
    transition: visibility 0.1s 0s, opacity 0.1s 0s linear;
}

.#{$ui-prefix}__popover--visible {
    visibility: visible;
    opacity: 1;
}

/* Used to trigger the popover with CSS only */
.#{$ui-prefix}__popover__trigger--manual {
    position: relative;
}
.#{$ui-prefix}__popover__trigger--manual .#{$ui-prefix}__popover__container {
    position: absolute;
}
.#{$ui-prefix}__popover__trigger--manual:hover .#{$ui-prefix}__popover__container {
    visibility: visible;
    opacity: 1;
}
