.#{$ui-prefix}__block {
}

.#{$ui-prefix}__block--outstanding {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.#{$ui-prefix}__block--outstanding-hover {
    &:hover {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
}

.#{$ui-prefix}__block--separated {
    margin-bottom: 1.5rem;
}

.#{$ui-prefix}__block--padded {
    padding: 1rem;
}

.#{$ui-prefix}__block--rounded {
    border-radius: 0.5rem;
}

.#{$ui-prefix}__block--content-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.#{$ui-prefix}__block__title {
    margin-top: 0;
}
