body {
    font-family: 'poppins';
    min-width: 320px;
    font-size: 12px;
    height: 100vh;
}

@media screen and (max-width: $dashboard-small-screen-max-width) {
    .borrow-ui__page__body {
        padding-bottom: 80px;
    }
}

.borrow-ui {
    padding-top: 46px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

.header__version {
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}

.header__sidebar-trigger {
    display: inline-block;

    @media (min-width: 700px) {
        display: none;
    }
}

.main-sidebar {
    background-color: #464646;
    color: #fff;
    padding-top: 3px;

    .borrow-ui__sidebar__entry {
        height: 46px;
    }

    .borrow-ui__sidebar__entry__group {
        color: #fff;

        &:hover {
            color: #fff;
            background-color: #202020;
        }
    }

    @media (max-width: 650px) {
        &.borrow-ui__sidebar__container--closed {
            width: 0;
        }
        position: fixed;
        z-index: 10;
    }
}

.dashboard__readable-content {
    max-width: $dashboard-readable-content-width;
}
