@import '../../vars/main';

$ui-page-padding: 15px !default;

/*
.borrow-ui__tabs {}
*/

.borrow-ui__tabs__header {
    display: flex;
}

.borrow-ui__tabs__header__label {
    padding: 7px 15px 5px;
    cursor: pointer;
}

.borrow-ui__tabs__header__label--selected {
    border-bottom: 2px solid $ui-color-accent;
    color: $ui-color-accent;
}

.borrow-ui__tabs__header__label:not(.borrow-ui__tabs__header__label--selected) {
    color: $ui-color-neutral-light;

    &:hover {
        color: $ui-color-primary-light;
    }
}

/*
.borrow-ui__tabs__body__container {}
*/

.borrow-ui__tabs__body {
    display: none;
    padding: $ui-page-padding;
}

.borrow-ui__tabs__body--selected {
    display: block;
}

.borrow-ui__tabs__body--compact {
    padding: 0;
}
