.#{$ui-prefix}__table__pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}
.#{$ui-prefix}__table__pagination__page {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border: 1px solid $ui-table-border-color;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.#{$ui-prefix}__table__pagination__page:not(:first-of-type) {
    margin-left: 5px;
}

.#{$ui-prefix}__table__pagination__page:hover {
    background-color: $ui-color-primary;
    color: $ui-color-on-primary;
}

.#{$ui-prefix}__table__pagination__page--active {
    background-color: $ui-color-accent;
    color: $ui-color-on-accent;
}
