@import '../../vars/main';

$ui-table-border-color: darken($ui-color-neutral-white, 6) !default;

@import './table_pagination.scss';

.#{$ui-prefix}__table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid $ui-table-border-color;
}

.#{$ui-prefix}__table__cell {
}

.#{$ui-prefix}__table__cell--vertical-align-top {
    vertical-align: top;
}
.#{$ui-prefix}__table__cell--vertical-align-bottom {
    vertical-align: bottom;
}

.#{$ui-prefix}__table__cell--border-row {
    border-bottom: 1px solid $ui-table-border-color;
}
.#{$ui-prefix}__table__cell--border-cell {
    border-bottom: 1px solid $ui-table-border-color;
    border-right: 1px solid $ui-table-border-color;
}
.#{$ui-prefix}__table__cell--border-cell:last-of-type {
    border-right: none;
}

.#{$ui-prefix}__table__cell__content {
    display: flex;
    padding: 7px;
    width: 100%;
}

.#{$ui-prefix}__table__head__row {
    background-color: $ui-color-grey-light;
    color: $ui-color-neutral;
}

.#{$ui-prefix}__table__head__cell {
    font-weight: 400;
    border-bottom: 1px solid $ui-table-border-color;
}

.#{$ui-prefix}__table__body__row:hover {
    background-color: $ui-color-neutral-white-over;
}

.#{$ui-prefix}__table__body__row--odd {
    background-color: $ui-color-neutral-white-dark;
}

.#{$ui-prefix}__table__body__cell {
}

.#{$ui-prefix}__table__status-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
