@import "~material-design-icons-iconfont/dist/material-design-icons.css";
@import "~react-day-picker/lib/style.css";
@import "../../ui/src/style/ui.full.scss";

*:focus:not(:focus-visible) {
  outline: none;
}

.storybook-container {
  font-size: 14px;
}

#docs-root div.sbdocs,
.sbdocs > .sbdocs {
  color: var(--text-color);
  background-color: var(--background-color);
}

.docs-story {
  border: 1px solid var(--text-color);
}

#docs-root div.sbdocs.sbdocs-div .borrow-ui form {
  .borrow-ui__form__label,
  .borrow-ui__form__field__checkbox__label {
    font-size: 14px;
  }
}
.docblock-source {
  .language-jsx {
    .token.comment {
      font-style: normal;
      color: #98c3d0;
    }

    .token.keyword {
      color: #4178dc;
      &.module {
        color: #0000ff;
      }
    }

    .token.tag {
      color: #6d6790;

      &.attr-name {
        color: #f18a63;
      }
    }
  }
}
