/* VARIABLES */
$ui-link-color: var(--link-color) !default;
$ui-link-color-over: var(--link-color-over) !default;
$ui-link-color-underline: var(--link-color-over) !default;

/* CLASSES */
.#{$ui-prefix}__link {
    color: $ui-link-color;
    cursor: pointer;
}
.#{$ui-prefix}__link:hover {
    color: $ui-link-color-over;
}

.#{$ui-prefix}__link--underline {
    text-decoration: underline;
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under;
    text-decoration-color: $ui-link-color-underline;
}
.#{$ui-prefix}__link--underline:hover {
    text-decoration-color: $ui-link-color-underline;
}

.#{$ui-prefix}__link--no-underline {
    text-decoration: none;
}
