@import '../../style/vars/main';

$ui-link-color: $ui-color-primary !default;
$ui-link-color-over: $ui-color-primary-over !default;

.#{$ui-prefix}__link {
    color: $ui-link-color;
}
.#{$ui-prefix}__link:hover {
    color: $ui-link-color-over;
}

.#{$ui-prefix}__link--underline {
    text-decoration: underline;
}

.#{$ui-prefix}__link--no-underline {
    text-decoration: none;
}
