.#{$ui-prefix}__link {
    color: $ui-color-primary;
}
.#{$ui-prefix}__link:hover {
    color: $ui-color-primary-over;
}

.#{$ui-prefix}__link--underline {
    text-decoration: underline;
}

.#{$ui-prefix}__link--no-underline {
    text-decoration: none;
}
