.#{$ui-prefix}__navbar-menu {
}

.#{$ui-prefix}__navbar-menu__title {
    margin: 0 0 10px 0;
    color: var(--text-color-dark);
    text-decoration: none;
}

.#{$ui-prefix}__navbar-menu__item {
    color: var(--text-color-dark);
    text-decoration: none;
    display: block;
    padding: 7px;

    &:hover {
        background-color: var(--background-color-light);
    }
}

.#{$ui-prefix}__navbar-menu__item__label {
    color: var(--text-color-dark);
    text-decoration: none;
    display: block;
}

.#{$ui-prefix}__navbar-menu__item__description {
    color: var(--text-color-light);
    font-size: 0.9em;
    margin-top: 3px;
    text-decoration: none;
    display: block;
}
