.#{$ui-prefix}__table__pagination {
    display: flex;
    align-items: center;

    margin-top: 10px;
}
@media (min-width: 600px) {
    .#{$ui-prefix}__table__pagination {
        justify-content: flex-end;
    }
}

.#{$ui-prefix}__table__pagination__page {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border: 1px solid $ui-table-border-color;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.#{$ui-prefix}__table__pagination__page:not(:first-of-type) {
    margin-left: 5px;
}

.#{$ui-prefix}__table__pagination__page:hover {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}

.#{$ui-prefix}__table__pagination__page--active {
    border-color: var(--accent-color);
    background-color: var(--on-accent-color);
    color: var(--accent-color);
}
