@import '../../styles/vars';

.home__page {
    padding: 0;
    overflow-x: hidden;
}

.home__main-title {
    font-size: 72px;
    margin-bottom: 40px;

    @media (min-width: 400px) and (max-width: 900px) {
        font-size: 48px;
    }
    @media (max-width: 400px) {
        font-size: 36px;
    }
}

.home__main-link {
    color: $ui-color-primary;
    text-decoration-color: lighten($ui-color-primary, 15);

    &:hover {
        text-decoration-color: $ui-color-primary-over;
    }
}

.home__action-buttons {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 500px) {
        justify-content: center;
    }
}

.home__technologies {
    margin-top: 40px;
    padding: 40px 0;

    position: relative;
    color: #718096;

    display: flex;
    flex-wrap: wrap;
}

.home__technologies__entry {
    max-width: 30%;
    margin: 10px;
    padding: 10px;

    @media (max-width: 502px) {
        max-width: 100%;
    }

    @media (min-width: 502px) and (max-width: 900px) {
        max-width: 45%;
    }
}

.home__technologies__entry__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $ui-color-primary;

    i {
        margin-right: 15px;
    }

    span {
        font-size: 16px;
    }
}

.home__technologies__entry__description {
    padding: 5px 5px 5px 2px;
    line-height: 24px;
}

.home__row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: 1050px) {
        flex-direction: column;
    }
}

.home__column {
    width: 100%;
    @media (min-width: 1050px) {
        width: 50%;
    }
}

.home__get-started {
    padding: 30px 20px;
    background-color: #ef5b5b;
}
