@import '../../styles/vars';

.home__page {
    padding: 0;
    overflow-x: hidden;
}

.home__main-title {
    font-size: 72px;
    margin-bottom: 40px;

    @media (min-width: 400px) and (max-width: 900px) {
        font-size: 48px;
    }
    @media (max-width: 400px) {
        font-size: 36px;
    }
}

.home__main-link {
    color: var(--primary-color);
    text-decoration-color: var(--primary-color);

    &:hover {
        color: var(--primary-color-over);
        text-decoration-color: var(--primary-color-over);
    }
}

.home__features {
    margin-top: 40px;
    padding: 40px 0;

    position: relative;
    color: var(--text-color-light);

    display: flex;
    flex-wrap: wrap;
}

.home__features__entry {
    max-width: 30%;
    margin: 10px;
    padding: 10px;

    @media (max-width: 502px) {
        max-width: 100%;
    }

    @media (min-width: 502px) and (max-width: 900px) {
        max-width: 45%;
    }
}

.home__features__entry__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-color);

    i {
        margin-right: 15px;
    }

    span {
        font-size: 16px;
    }
}

.home__features__entry__description {
    padding: 5px 5px 5px 2px;
    line-height: 24px;
}

.home__page-example__container {
    background-color: $ui-color-gray-d2;
    color: $ui-color-neutral-white;
    padding: 50px 0;
    margin: 50px 0;
}
.home__guide__container {
    padding: 50px;
    background-color: var(--background-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
}
