.#{$ui-prefix}__form__field__textarea {
    font-family: $ui-font;
    width: 100%;
    min-height: 150px;
    border: none;
    border: 1px solid $ui-form-input-border-color;
    background-color: inherit;
    padding: $ui-form-input-padding;

    &:not(:disabled):hover {
        border-color: $ui-form-input-border-color-over;
    }
}

.#{$ui-prefix}__form__field__textarea::placeholder {
    color: $ui-form-placeholder-color;
    font-family: $ui-font;
}

.#{$ui-prefix}__form__field__textarea--disabled {
    background-color: $ui-form-input-disabled-color;
}

.#{$ui-prefix}__form__field__textarea--invalid {
    border: 1px solid $ui-color-negative;
}
