.#{$ui-prefix}__button {
    color: $ui-color-on-neutral;
    background-color: $ui-color-neutral;
    border: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    text-decoration: none;
    white-space: nowrap;
}
.#{$ui-prefix}__button:hover {
    background-color: $ui-color-neutral-over;
    border-color: $ui-color-neutral-over;
}

.#{$ui-prefix}__button--disabled {
    cursor: not-allowed;
}
.#{$ui-prefix}__button:disabled,
.#{$ui-prefix}__button:disabled:hover {
    background-color: $ui-color-neutral-disabled;
}

.#{$ui-prefix}__button--shadowed {
    box-shadow: $ui-shadow-small;
}

.#{$ui-prefix}__button--separated {
    margin: 0.4em;
}

.#{$ui-prefix}__button--icon {
    padding: 0.41rem 0.75rem;
}

.#{$ui-prefix}__button--smaller {
    padding: 0 0.4rem;
    font-size: 0.75rem;
    line-height: 20px;
    height: 20px;
}
.#{$ui-prefix}__button--small {
    padding: 0 0.6rem;
    font-size: 0.8rem;
    line-height: 28px;
    height: 28px;
}
.#{$ui-prefix}__button--normal {
    padding: 0 0.9rem;
    line-height: 32px;
    height: 32px;
}
.#{$ui-prefix}__button--big {
    padding: 0 1rem;
    font-size: 1.09rem;
    line-height: 40px;
    height: 40px;
}
.#{$ui-prefix}__button--bigger {
    padding: 0 1.25rem;
    font-size: 1.125rem;
    line-height: 50px;
    height: 50px;
}
.#{$ui-prefix}__button--huge {
    padding: 0 1.7rem;
    font-size: 1.5rem;
    line-height: 60px;
    height: 60px;
}

.#{$ui-prefix}__button--neutral-reverse {
    color: $ui-color-neutral;
    border: 1px solid $ui-color-neutral;
    background-color: $ui-color-on-neutral;
}
.#{$ui-prefix}__button--neutral-reverse:hover {
    color: $ui-color-neutral-over;
    border-color: $ui-color-neutral-over;
    background-color: $ui-color-on-neutral;
}
.#{$ui-prefix}__button--neutral-reverse:disabled,
.#{$ui-prefix}__button--neutral-reverse:disabled:hover {
    color: $ui-color-neutral-disabled;
    border-color: $ui-color-neutral-disabled;
    background-color: $ui-color-on-neutral;
}

.#{$ui-prefix}__button--primary {
    color: $ui-color-on-primary;
    background-color: $ui-color-primary;
}
.#{$ui-prefix}__button--primary:hover {
    background-color: $ui-color-primary-over;
}
.#{$ui-prefix}__button--primary:disabled,
.#{$ui-prefix}__button--primary:disabled:hover {
    background-color: $ui-color-primary-disabled;
}
.#{$ui-prefix}__button--primary-reverse {
    color: $ui-color-primary;
    border: 1px solid $ui-color-primary;
    background-color: $ui-color-on-primary;
}
.#{$ui-prefix}__button--primary-reverse:hover {
    color: $ui-color-primary-over;
    border-color: $ui-color-primary-over;
    background-color: $ui-color-on-primary;
}
.#{$ui-prefix}__button--primary-reverse:disabled,
.#{$ui-prefix}__button--primary-reverse:disabled:hover {
    color: $ui-color-primary-disabled;
    border-color: $ui-color-primary-disabled;
    background-color: $ui-color-on-primary;
}

.#{$ui-prefix}__button--secondary {
    color: $ui-color-on-secondary;
    background-color: $ui-color-secondary;
}
.#{$ui-prefix}__button--secondary:hover {
    background-color: $ui-color-secondary-over;
}
.#{$ui-prefix}__button--secondary:disabled,
.#{$ui-prefix}__button--secondary:disabled:hover {
    background-color: $ui-color-secondary-disabled;
}
.#{$ui-prefix}__button--secondary-reverse {
    color: $ui-color-secondary;
    border: 1px solid $ui-color-secondary;
    background-color: $ui-color-on-secondary;
}
.#{$ui-prefix}__button--secondary-reverse:hover {
    color: $ui-color-secondary-over;
    border-color: $ui-color-secondary-over;
    background-color: $ui-color-on-secondary;
}
.#{$ui-prefix}__button--secondary-reverse:disabled,
.#{$ui-prefix}__button--secondary-reverse:disabled:hover {
    color: $ui-color-secondary-disabled;
    border-color: $ui-color-secondary-disabled;
    background-color: $ui-color-on-secondary;
}

.#{$ui-prefix}__button--accent {
    color: $ui-color-on-accent;
    background-color: $ui-color-accent;
}
.#{$ui-prefix}__button--accent:hover {
    background-color: $ui-color-accent-over;
}
.#{$ui-prefix}__button--accent:disabled,
.#{$ui-prefix}__button--accent:disabled:hover {
    background-color: $ui-color-accent-disabled;
}
.#{$ui-prefix}__button--accent-reverse {
    color: $ui-color-accent;
    border: 1px solid $ui-color-accent;
    background-color: $ui-color-on-accent;
}
.#{$ui-prefix}__button--accent-reverse:hover {
    color: $ui-color-accent-over;
    border-color: $ui-color-accent-over;
    background-color: $ui-color-on-accent;
}
.#{$ui-prefix}__button--accent-reverse:disabled,
.#{$ui-prefix}__button--accent-reverse:disabled:hover {
    color: $ui-color-accent-disabled;
    border-color: $ui-color-accent-disabled;
    background-color: $ui-color-on-accent;
}

/* POSITIVE */
.#{$ui-prefix}__button--positive {
    color: $ui-color-on-positive;
    background-color: $ui-color-positive;
}
.#{$ui-prefix}__button--positive:hover {
    background-color: $ui-color-positive-over;
}
.#{$ui-prefix}__button--positive:disabled,
.#{$ui-prefix}__button--positive:disabled:hover {
    background-color: $ui-color-positive-disabled;
}
.#{$ui-prefix}__button--positive-reverse {
    color: $ui-color-positive;
    border: 1px solid $ui-color-positive;
    background-color: $ui-color-on-positive;
}
.#{$ui-prefix}__button--positive-reverse:hover {
    color: $ui-color-positive-over;
    border-color: $ui-color-positive-over;
    background-color: $ui-color-on-positive;
}
.#{$ui-prefix}__button--positive-reverse:disabled,
.#{$ui-prefix}__button--positive-reverse:disabled:hover {
    color: $ui-color-positive-disabled;
    border-color: $ui-color-positive-disabled;
    background-color: $ui-color-on-positive;
}

/* WARNING */
.#{$ui-prefix}__button--warning {
    color: $ui-color-on-warning;
    background-color: $ui-color-warning;
}
.#{$ui-prefix}__button--warning:hover {
    background-color: $ui-color-warning-over;
}
.#{$ui-prefix}__button--warning:disabled,
.#{$ui-prefix}__button--warning:disabled:hover {
    background-color: $ui-color-warning-disabled;
}
.#{$ui-prefix}__button--warning-reverse {
    color: $ui-color-warning;
    border: 1px solid $ui-color-warning;
    background-color: $ui-color-on-warning;
}
.#{$ui-prefix}__button--warning-reverse:hover {
    color: $ui-color-warning-over;
    border-color: $ui-color-warning-over;
    background-color: $ui-color-on-warning;
}
.#{$ui-prefix}__button--warning-reverse:disabled,
.#{$ui-prefix}__button--warning-reverse:disabled:hover {
    color: $ui-color-warning-disabled;
    border-color: $ui-color-warning-disabled;
    background-color: $ui-color-on-warning;
}

/* NEGATIVE */
.#{$ui-prefix}__button--negative {
    color: $ui-color-on-negative;
    background-color: $ui-color-negative;
}
.#{$ui-prefix}__button--negative:hover {
    background-color: $ui-color-negative-over;
}
.#{$ui-prefix}__button--negative:disabled,
.#{$ui-prefix}__button--negative:disabled:hover {
    background-color: $ui-color-negative-disabled;
}
.#{$ui-prefix}__button--negative-reverse {
    color: $ui-color-negative;
    border: 1px solid $ui-color-negative;
    background-color: $ui-color-on-negative;
}
.#{$ui-prefix}__button--negative-reverse:hover {
    color: $ui-color-negative-over;
    border-color: $ui-color-negative-over;
    background-color: $ui-color-on-negative;
}
.#{$ui-prefix}__button--negative-reverse:disabled,
.#{$ui-prefix}__button--negative-reverse:disabled:hover {
    color: $ui-color-negative-disabled;
    border-color: $ui-color-negative-disabled;
    background-color: $ui-color-on-negative;
}

.#{$ui-prefix}__button--neutral-dark {
    color: $ui-color-on-neutral-dark;
    background-color: $ui-color-neutral-dark;
}
.#{$ui-prefix}__button--neutral-dark:hover {
    background-color: $ui-color-neutral-dark-over;
}
.#{$ui-prefix}__button--neutral-dark:disabled,
.#{$ui-prefix}__button--neutral-dark:disabled:hover {
    background-color: $ui-color-neutral-dark-disabled;
}
.#{$ui-prefix}__button--neutral-dark-reverse {
    color: $ui-color-neutral-dark;
    border: 1px solid $ui-color-neutral-dark;
    background-color: $ui-color-on-neutral-dark;
}
.#{$ui-prefix}__button--neutral-dark-reverse:hover {
    color: $ui-color-neutral-dark-over;
    border-color: $ui-color-neutral-dark-over;
    background-color: $ui-color-on-neutral-dark;
}
.#{$ui-prefix}__button--neutral-dark-reverse:disabled,
.#{$ui-prefix}__button--neutral-dark-reverse:disabled:hover {
    color: $ui-color-neutral-dark-disabled;
    border-color: $ui-color-neutral-dark-disabled;
    background-color: $ui-color-on-neutral-dark;
}

.#{$ui-prefix}__button--neutral-light {
    color: $ui-color-on-neutral-light;
    background-color: $ui-color-neutral-light;
}
.#{$ui-prefix}__button--neutral-light:hover {
    background-color: $ui-color-neutral-light-over;
}
.#{$ui-prefix}__button--neutral-light:disabled,
.#{$ui-prefix}__button--neutral-light:disabled:hover {
    background-color: $ui-color-neutral-light-disabled;
}
.#{$ui-prefix}__button--neutral-light-reverse {
    color: $ui-color-neutral-light;
    border: 1px solid $ui-color-neutral-light;
    background-color: $ui-color-on-neutral-light;
}
.#{$ui-prefix}__button--neutral-light-reverse:hover {
    color: $ui-color-neutral-light-over;
    border-color: $ui-color-neutral-light-over;
    background-color: $ui-color-on-neutral-light;
}
.#{$ui-prefix}__button--neutral-light-reverse:disabled,
.#{$ui-prefix}__button--neutral-light-reverse:disabled:hover {
    color: $ui-color-neutral-light-disabled;
    border-color: $ui-color-neutral-light-disabled;
    background-color: $ui-color-on-neutral-light;
}
