@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

.borrow-ui__icon {
    vertical-align: middle;
}

.borrow-ui__icon.borrow-ui__icon--smaller {
    font-size: 16px;
}

.borrow-ui__icon.borrow-ui__icon--small {
    font-size: 18px;
}

.borrow-ui__icon.borrow-ui__icon--normal {
    font-size: 24px;
}

.borrow-ui__icon.borrow-ui__icon--big {
    font-size: 36px;
}

.borrow-ui__icon.borrow-ui__icon--bigger {
    font-size: 48px;
}

.borrow-ui__icon.borrow-ui__icon--huge {
    font-size: 64px;
}

.borrow-ui__icon--clickable {
    cursor: pointer;
}

.borrow-ui__icon--spin {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
