.#{$ui-prefix}__tabs {
}

.#{$ui-prefix}__tabs__header {
    display: flex;
}

.#{$ui-prefix}__tabs__header__label {
    padding: 7px 15px 5px;
    cursor: pointer;
}

.#{$ui-prefix}__tabs__header__label--selected {
    border-bottom: 2px solid var(--accent-color);
    color: var(--accent-color);
}

.#{$ui-prefix}__tabs__header__label:not(.#{$ui-prefix}__tabs__header__label--selected) {
    color: var(--text-color-light);

    &:hover {
        color: var(--text-color-light-over);
    }
}

.#{$ui-prefix}__tabs__header__extra-header {
    padding: 7px 15px 5px;
    flex-grow: 1;
}

.#{$ui-prefix}__tabs__body__container {
}

.#{$ui-prefix}__tabs__body {
    display: none;
}

.#{$ui-prefix}__tabs__body--selected {
    display: block;
}

.#{$ui-prefix}__tabs__body--padded {
    padding: $ui-content-padding;
}
.#{$ui-prefix}__tabs__body--padded-top {
    padding-top: $ui-content-padding;
}
