@import '../../vars/colors';
@import '../../vars/main';

$ui-page-padding: 15px !default;
$ui-page-header-margin-bottom: 4px !default;

.borrow-ui__page__header {
    padding-left: $ui-page-padding;
    padding-right: $ui-page-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $ui-page-header-margin-bottom;
}
.borrow-ui__page__header--with-shadow {
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.15);
}

.borrow-ui__page__header__title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $ui-color-primary;
}

/*
.borrow-ui__page__header__header-container {}
*/

.borrow-ui__page__header__controls-container {
    display: flex;
    align-items: center;
}
