body {
    margin: 0;
    font-family: $ui-font;
    color: $ui-font-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: $ui-font-code;
}

* {
    box-sizing: border-box;
}
