.flex {
    display: flex;
}
.flex--wrap {
    flex-wrap: wrap;
}
.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-center-top {
    display: flex;
    justify-content: center;
    align-items: top;
}
.flex-center-bottom {
    display: flex;
    justify-content: center;
    align-items: bottom;
}
.flex-start-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-start-top {
    display: flex;
    justify-content: flex-start;
    align-items: top;
}
.flex-start-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: bottom;
}
.flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flex-end-top {
    display: flex;
    justify-content: flex-end;
    align-items: top;
}
.flex-end-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: bottom;
}

.overflow-auto {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-scroll {
    overflow: scroll;
}

.line-height-font-size {
    line-height: $ui-font-size;
}

.w-10pc {
    width: 10% !important;
}
.w-20pc {
    width: 20% !important;
}
.w-25pc {
    width: 25% !important;
}
.w-33pc {
    width: 33.33% !important;
}
.w-50pc {
    width: 50% !important;
}
.w-66pc {
    width: 66.66% !important;
}
.w-75pc {
    width: 75% !important;
}
.w-80pc {
    width: 80% !important;
}
.w-90pc {
    width: 90% !important;
}
.w-100pc {
    width: 100% !important;
}
.w-25 {
    width: 25px !important;
}
.w-50 {
    width: 50px !important;
}
.w-75 {
    width: 75px !important;
}
.w-100 {
    width: 100px !important;
}
.w-200 {
    width: 200px !important;
}
.w-300 {
    width: 300px !important;
}
.w-400 {
    width: 400px !important;
}
.w-500 {
    width: 500px !important;
}
.h-100 {
    height: 100px !important;
}
.h-200 {
    height: 200px !important;
}
.h-300 {
    height: 300px !important;
}
.h-400 {
    height: 400px !important;
}
.h-500 {
    height: 500px !important;
}

.m-0 {
    margin: 0 !important;
}
.m-5 {
    margin: 5px !important;
}
.m-10 {
    margin: 10px !important;
}
.m-15 {
    margin: 15px !important;
}
.m-20 {
    margin: 20px !important;
}
.m-t-0 {
    margin-top: 0 !important;
}
.m-t-5 {
    margin-top: 5px !important;
}
.m-t-10 {
    margin-top: 10px !important;
}
.m-t-15 {
    margin-top: 15px !important;
}
.m-t-20 {
    margin-top: 20px !important;
}
.m-r-0 {
    margin-right: 0 !important;
}
.m-r-5 {
    margin-right: 5px !important;
}
.m-r-10 {
    margin-right: 10px !important;
}
.m-r-15 {
    margin-right: 15px !important;
}
.m-r-20 {
    margin-right: 20px !important;
}
.m-b-0 {
    margin-bottom: 0 !important;
}
.m-b-5 {
    margin-bottom: 5px !important;
}
.m-b-10 {
    margin-bottom: 10px !important;
}
.m-b-15 {
    margin-bottom: 15px !important;
}
.m-b-20 {
    margin-bottom: 20px !important;
}
.m-l-0 {
    margin-left: 0 !important;
}
.m-l-5 {
    margin-left: 5px !important;
}
.m-l-10 {
    margin-left: 10px !important;
}
.m-l-15 {
    margin-left: 15px !important;
}
.m-l-20 {
    margin-left: 20px !important;
}

.p-0 {
    padding: 0 !important;
}
.p-5 {
    padding: 5px !important;
}
.p-10 {
    padding: 10px !important;
}
.p-15 {
    padding: 15px !important;
}
.p-20 {
    padding: 20px !important;
}
.p-t-0 {
    padding-top: 0 !important;
}
.p-t-5 {
    padding-top: 5px !important;
}
.p-t-10 {
    padding-top: 10px !important;
}
.p-t-15 {
    padding-top: 15px !important;
}
.p-t-20 {
    padding-top: 20px !important;
}
.p-r-0 {
    padding-right: 0 !important;
}
.p-r-5 {
    padding-right: 5px !important;
}
.p-r-10 {
    padding-right: 10px !important;
}
.p-r-15 {
    padding-right: 15px !important;
}
.p-r-20 {
    padding-right: 20px !important;
}
.p-b-0 {
    padding-bottom: 0 !important;
}
.p-b-5 {
    padding-bottom: 5px !important;
}
.p-b-10 {
    padding-bottom: 10px !important;
}
.p-b-15 {
    padding-bottom: 15px !important;
}
.p-b-20 {
    padding-bottom: 20px !important;
}
.p-l-0 {
    padding-left: 0 !important;
}
.p-l-5 {
    padding-left: 5px !important;
}
.p-l-10 {
    padding-left: 10px !important;
}
.p-l-15 {
    padding-left: 15px !important;
}
.p-l-20 {
    padding-left: 20px !important;
}

.border-radius-0 {
    border-radius: 0 !important;
}
.border-radius-5 {
    border-radius: 5px !important;
}
.border-radius-10 {
    border-radius: 10px !important;
}
.border-radius-15 {
    border-radius: 15px !important;
}
.border-radius-20 {
    border-radius: 20px !important;
}
.border-radius-50pc {
    border-radius: 50% !important;
}
