.w-10pc {
    width: 10%;
}
.w-20pc {
    width: 20%;
}
.w-25pc {
    width: 25%;
}
.w-33pc {
    width: 33.33%;
}
.w-50pc {
    width: 50%;
}
.w-66pc {
    width: 66.66%;
}
.w-75pc {
    width: 75%;
}
.w-80pc {
    width: 80%;
}
.w-90pc {
    width: 90%;
}
.w-100pc {
    width: 100%;
}
.w-100 {
    width: 100px;
}
.w-200 {
    width: 200px;
}
.w-300 {
    width: 300px;
}
.w-400 {
    width: 400px;
}
.w-500 {
    width: 500px;
}
.h-100 {
    height: 100px;
}
.h-200 {
    height: 200px;
}
.h-300 {
    height: 300px;
}
.h-400 {
    height: 400px;
}
.h-500 {
    height: 500px;
}

.m-0 {
    margin: 0;
}
.m-5 {
    margin: 5px;
}
.m-10 {
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.m-t-0 {
    margin-top: 0;
}
.m-t-5 {
    margin-top: 5px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-r-0 {
    margin-right: 0;
}
.m-r-5 {
    margin-right: 5px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-r-20 {
    margin-right: 20px;
}
.m-b-0 {
    margin-bottom: 0;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-l-0 {
    margin-left: 0;
}
.m-l-5 {
    margin-left: 5px;
}
.m-l-10 {
    margin-left: 10px;
}
.m-l-15 {
    margin-left: 15px;
}
.m-l-20 {
    margin-left: 20px;
}

.p-0 {
    padding: 0;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.p-t-0 {
    padding-top: 0;
}
.p-t-5 {
    padding-top: 5px;
}
.p-t-10 {
    padding-top: 10px;
}
.p-t-15 {
    padding-top: 15px;
}
.p-t-20 {
    padding-top: 20px;
}
.p-r-0 {
    padding-right: 0;
}
.p-r-5 {
    padding-right: 5px;
}
.p-r-10 {
    padding-right: 10px;
}
.p-r-15 {
    padding-right: 15px;
}
.p-r-20 {
    padding-right: 20px;
}
.p-b-0 {
    padding-bottom: 0;
}
.p-b-5 {
    padding-bottom: 5px;
}
.p-b-10 {
    padding-bottom: 10px;
}
.p-b-15 {
    padding-bottom: 15px;
}
.p-b-20 {
    padding-bottom: 20px;
}
.p-l-0 {
    padding-left: 0;
}
.p-l-5 {
    padding-left: 5px;
}
.p-l-10 {
    padding-left: 10px;
}
.p-l-15 {
    padding-left: 15px;
}
.p-l-20 {
    padding-left: 20px;
}

.border-radius-0 {
    border-radius: 0;
}
.border-radius-5 {
    border-radius: 5px;
}
.border-radius-10 {
    border-radius: 10px;
}
.border-radius-15 {
    border-radius: 15px;
}
.border-radius-20 {
    border-radius: 20px;
}
.border-radius-50pc {
    border-radius: 50%;
}
