:root {
    --text-color: #{$ui-font-color};
    --text-color-secondary: #{$ui-color-neutral-dark};
    --text-color-light: #{$ui-color-neutral-light};
    --text-color-light-over: #{darken($ui-color-neutral-light, 3)};
    --background-color: white;
    --background-color-light: #{$ui-color-gray-light-l2};
    --background-color-light-over: #{darken($ui-color-gray-light-l2, 2)};
    --link-color: #{$ui-color-blue};
    --link-color-over: #{lighten($ui-color-blue, 12)};
    --primary-color: #{$ui-color-primary};
    --primary-color-light: #{$ui-color-primary-light};
    --primary-color-disabled: #{$ui-color-primary-disabled};
    --primary-color-over: #{$ui-color-primary-over};
    --on-primary-color: #{$ui-color-on-primary};
    --secondary-color: #{$ui-color-secondary};
    --secondary-color-disabled: #{$ui-color-secondary-disabled};
    --secondary-color-over: #{$ui-color-secondary-over};
}
