.color-primary {
    color: $ui-color-primary;
}
.color-primary-bg {
    background-color: $ui-color-primary;
}
.color-on-primary {
    color: $ui-color-on-primary;
}
.color-on-primary-bg {
    background-color: $ui-color-on-primary;
}

.color-primary-light {
    color: $ui-color-primary-light;
}
.color-primary-light-bg {
    background-color: $ui-color-primary-light;
}
.color-on-primary-light {
    color: $ui-color-on-primary-light;
}
.color-on-primary-light-bg {
    background-color: $ui-color-on-primary-light;
}

.color-accent {
    color: $ui-color-accent;
}
.color-accent-bg {
    background-color: $ui-color-accent;
}
.color-on-accent {
    color: $ui-color-on-accent;
}
.color-on-accent-bg {
    background-color: $ui-color-on-accent;
}

.color-secondary {
    color: $ui-color-secondary;
}
.color-secondary-bg {
    background-color: $ui-color-secondary;
}
.color-on-secondary {
    color: $ui-color-on-secondary;
}
.color-on-secondary-bg {
    background-color: $ui-color-on-secondary;
}

.color-neutral {
    color: $ui-color-neutral;
}
.color-neutral-bg {
    background-color: $ui-color-neutral;
}
.color-on-neutral {
    color: $ui-color-on-neutral;
}
.color-on-neutral-bg {
    background-color: $ui-color-on-neutral;
}

.color-neutral-light {
    color: $ui-color-neutral-light;
}
.color-neutral-light-bg {
    background-color: $ui-color-neutral-light;
}
.color-on-neutral-light {
    color: $ui-color-on-neutral-light;
}
.color-on-neutral-light-bg {
    background-color: $ui-color-on-neutral-light;
}

.color-neutral-dark {
    color: $ui-color-neutral-dark;
}
.color-neutral-dark-bg {
    background-color: $ui-color-neutral-dark;
}
.color-on-neutral-dark {
    color: $ui-color-on-neutral-dark;
}
.color-on-neutral-dark-bg {
    background-color: $ui-color-on-neutral-dark;
}

.color-neutral-white {
    color: $ui-color-neutral-white;
}
.color-neutral-white-bg {
    background-color: $ui-color-neutral-white;
}
.color-on-neutral-white {
    color: $ui-color-on-neutral-white;
}
.color-on-neutral-white-bg {
    background-color: $ui-color-on-neutral-white;
}

.color-grey-light {
    color: $ui-color-grey-light;
}
.color-grey-light-bg {
    background-color: $ui-color-grey-light;
}
.color-on-grey-light {
    color: $ui-color-on-grey-light;
}
.color-on-grey-light-bg {
    background-color: $ui-color-on-grey-light;
}

.color-positive {
    color: $ui-color-positive;
}
.color-positive-bg {
    background-color: $ui-color-positive;
}
.color-on-positive {
    color: $ui-color-on-positive;
}
.color-on-positive-bg {
    background-color: $ui-color-on-positive;
}

.color-negative {
    color: $ui-color-negative;
}
.color-negative-bg {
    background-color: $ui-color-negative;
}
.color-on-negative {
    color: $ui-color-on-negative;
}
.color-on-negative-bg {
    background-color: $ui-color-on-negative;
}

.color-warning {
    color: $ui-color-warning;
}
.color-warning-bg {
    background-color: $ui-color-warning;
}
.color-on-warning {
    color: $ui-color-on-warning;
}
.color-on-warning-bg {
    background-color: $ui-color-on-warning;
}

.color-white {
    color: white;
}
.color-white-bg {
    background-color: white;
}
.color-on-white {
    color: $ui-font-color;
}

.color-cyan-d2 {
    color: $ui-color-cyan-d2;
}
.color-cyan-d2-bg {
    background-color: $ui-color-cyan-d2;
}
.color-on-cyan-d2 {
    color: white;
}

.color-cyan-d1 {
    color: $ui-color-cyan-d1;
}
.color-cyan-d1-bg {
    background-color: $ui-color-cyan-d1;
}
.color-on-cyan-d1 {
    color: white;
}

.color-cyan {
    color: $ui-color-cyan;
}
.color-cyan-bg {
    background-color: $ui-color-cyan;
}
.color-on-cyan {
    color: white;
}

.color-cyan-l1 {
    color: $ui-color-cyan-l1;
}
.color-cyan-l1-bg {
    background-color: $ui-color-cyan-l1;
}
.color-on-cyan-l1 {
    color: white;
}

.color-cyan-l2 {
    color: $ui-color-cyan-l2;
}
.color-cyan-l2-bg {
    background-color: $ui-color-cyan-l2;
}
.color-on-cyan-l2 {
    color: white;
}

.color-cyan-light-d2 {
    color: $ui-color-cyan-light-d2;
}
.color-cyan-light-d2-bg {
    background-color: $ui-color-cyan-light-d2;
}
.color-on-cyan-light-d2 {
    color: black;
}

.color-cyan-light-d1 {
    color: $ui-color-cyan-light-d1;
}
.color-cyan-light-d1-bg {
    background-color: $ui-color-cyan-light-d1;
}
.color-on-cyan-light-d1 {
    color: black;
}

.color-cyan-light {
    color: $ui-color-cyan-light;
}
.color-cyan-light-bg {
    background-color: $ui-color-cyan-light;
}
.color-on-cyan-light {
    color: black;
}

.color-cyan-light-l1 {
    color: $ui-color-cyan-light-l1;
}
.color-cyan-light-l1-bg {
    background-color: $ui-color-cyan-light-l1;
}
.color-on-cyan-light-l1 {
    color: black;
}

.color-cyan-light-l2 {
    color: $ui-color-cyan-light-l2;
}
.color-cyan-light-l2-bg {
    background-color: $ui-color-cyan-light-l2;
}
.color-on-cyan-light-l2 {
    color: black;
}

.color-blue-d2 {
    color: $ui-color-blue-d2;
}
.color-blue-d2-bg {
    background-color: $ui-color-blue-d2;
}
.color-on-blue-d2 {
    color: white;
}

.color-blue-d1 {
    color: $ui-color-blue-d1;
}
.color-blue-d1-bg {
    background-color: $ui-color-blue-d1;
}
.color-on-blue-d1 {
    color: white;
}

.color-blue {
    color: $ui-color-blue;
}
.color-blue-bg {
    background-color: $ui-color-blue;
}
.color-on-blue {
    color: white;
}

.color-blue-l1 {
    color: $ui-color-blue-l1;
}
.color-blue-l1-bg {
    background-color: $ui-color-blue-l1;
}
.color-on-blue-l1 {
    color: white;
}

.color-blue-l2 {
    color: $ui-color-blue-l2;
}
.color-blue-l2-bg {
    background-color: $ui-color-blue-l2;
}
.color-on-blue-l2 {
    color: white;
}

.color-blue-light-d2 {
    color: $ui-color-blue-light-d2;
}
.color-blue-light-d2-bg {
    background-color: $ui-color-blue-light-d2;
}
.color-on-blue-light-d2 {
    color: black;
}

.color-blue-light-d1 {
    color: $ui-color-blue-light-d1;
}
.color-blue-light-d1-bg {
    background-color: $ui-color-blue-light-d1;
}
.color-on-blue-light-d1 {
    color: black;
}

.color-blue-light {
    color: $ui-color-blue-light;
}
.color-blue-light-bg {
    background-color: $ui-color-blue-light;
}
.color-on-blue-light {
    color: black;
}

.color-blue-light-l1 {
    color: $ui-color-blue-light-l1;
}
.color-blue-light-l1-bg {
    background-color: $ui-color-blue-light-l1;
}
.color-on-blue-light-l1 {
    color: black;
}

.color-blue-light-l2 {
    color: $ui-color-blue-light-l2;
}
.color-blue-light-l2-bg {
    background-color: $ui-color-blue-light-l2;
}
.color-on-blue-light-l2 {
    color: black;
}

.color-gray-d2 {
    color: $ui-color-gray-d2;
}
.color-gray-d2-bg {
    background-color: $ui-color-gray-d2;
}
.color-on-gray-d2 {
    color: white;
}

.color-gray-d1 {
    color: $ui-color-gray-d1;
}
.color-gray-d1-bg {
    background-color: $ui-color-gray-d1;
}
.color-on-gray-d1 {
    color: white;
}

.color-gray {
    color: $ui-color-gray;
}
.color-gray-bg {
    background-color: $ui-color-gray;
}
.color-on-gray {
    color: white;
}

.color-gray-l1 {
    color: $ui-color-gray-l1;
}
.color-gray-l1-bg {
    background-color: $ui-color-gray-l1;
}
.color-on-gray-l1 {
    color: white;
}

.color-gray-l2 {
    color: $ui-color-gray-l2;
}
.color-gray-l2-bg {
    background-color: $ui-color-gray-l2;
}
.color-on-gray-l2 {
    color: white;
}

.color-gray-light-d2 {
    color: $ui-color-gray-light-d2;
}
.color-gray-light-d2-bg {
    background-color: $ui-color-gray-light-d2;
}
.color-on-gray-light-d2 {
    color: black;
}

.color-gray-light-d1 {
    color: $ui-color-gray-light-d1;
}
.color-gray-light-d1-bg {
    background-color: $ui-color-gray-light-d1;
}
.color-on-gray-light-d1 {
    color: black;
}

.color-gray-light {
    color: $ui-color-gray-light;
}
.color-gray-light-bg {
    background-color: $ui-color-gray-light;
}
.color-on-gray-light {
    color: black;
}

.color-gray-light-l1 {
    color: $ui-color-gray-light-l1;
}
.color-gray-light-l1-bg {
    background-color: $ui-color-gray-light-l1;
}
.color-on-gray-light-l1 {
    color: black;
}

.color-gray-light-l2 {
    color: $ui-color-gray-light-l2;
}
.color-gray-light-l2-bg {
    background-color: $ui-color-gray-light-l2;
}
.color-on-gray-light-l2 {
    color: black;
}

.color-pink-d2 {
    color: $ui-color-pink-d2;
}
.color-pink-d2-bg {
    background-color: $ui-color-pink-d2;
}
.color-on-pink-d2 {
    color: white;
}

.color-pink-d1 {
    color: $ui-color-pink-d1;
}
.color-pink-d1-bg {
    background-color: $ui-color-pink-d1;
}
.color-on-pink-d1 {
    color: white;
}

.color-pink {
    color: $ui-color-pink;
}
.color-pink-bg {
    background-color: $ui-color-pink;
}
.color-on-pink {
    color: white;
}

.color-pink-l1 {
    color: $ui-color-pink-l1;
}
.color-pink-l1-bg {
    background-color: $ui-color-pink-l1;
}
.color-on-pink-l1 {
    color: white;
}

.color-pink-l2 {
    color: $ui-color-pink-l2;
}
.color-pink-l2-bg {
    background-color: $ui-color-pink-l2;
}
.color-on-pink-l2 {
    color: white;
}

.color-pink-light-d2 {
    color: $ui-color-pink-light-d2;
}
.color-pink-light-d2-bg {
    background-color: $ui-color-pink-light-d2;
}
.color-on-pink-light-d2 {
    color: black;
}

.color-pink-light-d1 {
    color: $ui-color-pink-light-d1;
}
.color-pink-light-d1-bg {
    background-color: $ui-color-pink-light-d1;
}
.color-on-pink-light-d1 {
    color: black;
}

.color-pink-light {
    color: $ui-color-pink-light;
}
.color-pink-light-bg {
    background-color: $ui-color-pink-light;
}
.color-on-pink-light {
    color: black;
}

.color-pink-light-l1 {
    color: $ui-color-pink-light-l1;
}
.color-pink-light-l1-bg {
    background-color: $ui-color-pink-light-l1;
}
.color-on-pink-light-l1 {
    color: black;
}

.color-pink-light-l2 {
    color: $ui-color-pink-light-l2;
}
.color-pink-light-l2-bg {
    background-color: $ui-color-pink-light-l2;
}
.color-on-pink-light-l2 {
    color: black;
}

.color-red-d2 {
    color: $ui-color-red-d2;
}
.color-red-d2-bg {
    background-color: $ui-color-red-d2;
}
.color-on-red-d2 {
    color: white;
}

.color-red-d1 {
    color: $ui-color-red-d1;
}
.color-red-d1-bg {
    background-color: $ui-color-red-d1;
}
.color-on-red-d1 {
    color: white;
}

.color-red {
    color: $ui-color-red;
}
.color-red-bg {
    background-color: $ui-color-red;
}
.color-on-red {
    color: white;
}

.color-red-l1 {
    color: $ui-color-red-l1;
}
.color-red-l1-bg {
    background-color: $ui-color-red-l1;
}
.color-on-red-l1 {
    color: white;
}

.color-red-l2 {
    color: $ui-color-red-l2;
}
.color-red-l2-bg {
    background-color: $ui-color-red-l2;
}
.color-on-red-l2 {
    color: white;
}

.color-red-light-d2 {
    color: $ui-color-red-light-d2;
}
.color-red-light-d2-bg {
    background-color: $ui-color-red-light-d2;
}
.color-on-red-light-d2 {
    color: black;
}

.color-red-light-d1 {
    color: $ui-color-red-light-d1;
}
.color-red-light-d1-bg {
    background-color: $ui-color-red-light-d1;
}
.color-on-red-light-d1 {
    color: black;
}

.color-red-light {
    color: $ui-color-red-light;
}
.color-red-light-bg {
    background-color: $ui-color-red-light;
}
.color-on-red-light {
    color: black;
}

.color-red-light-l1 {
    color: $ui-color-red-light-l1;
}
.color-red-light-l1-bg {
    background-color: $ui-color-red-light-l1;
}
.color-on-red-light-l1 {
    color: black;
}

.color-red-light-l2 {
    color: $ui-color-red-light-l2;
}
.color-red-light-l2-bg {
    background-color: $ui-color-red-light-l2;
}
.color-on-red-light-l2 {
    color: black;
}

.color-yellow-d2 {
    color: $ui-color-yellow-d2;
}
.color-yellow-d2-bg {
    background-color: $ui-color-yellow-d2;
}
.color-on-yellow-d2 {
    color: white;
}

.color-yellow-d1 {
    color: $ui-color-yellow-d1;
}
.color-yellow-d1-bg {
    background-color: $ui-color-yellow-d1;
}
.color-on-yellow-d1 {
    color: white;
}

.color-yellow {
    color: $ui-color-yellow;
}
.color-yellow-bg {
    background-color: $ui-color-yellow;
}
.color-on-yellow {
    color: white;
}

.color-yellow-l1 {
    color: $ui-color-yellow-l1;
}
.color-yellow-l1-bg {
    background-color: $ui-color-yellow-l1;
}
.color-on-yellow-l1 {
    color: white;
}

.color-yellow-l2 {
    color: $ui-color-yellow-l2;
}
.color-yellow-l2-bg {
    background-color: $ui-color-yellow-l2;
}
.color-on-yellow-l2 {
    color: white;
}

.color-yellow-light-d2 {
    color: $ui-color-yellow-light-d2;
}
.color-yellow-light-d2-bg {
    background-color: $ui-color-yellow-light-d2;
}
.color-on-yellow-light-d2 {
    color: black;
}

.color-yellow-light-d1 {
    color: $ui-color-yellow-light-d1;
}
.color-yellow-light-d1-bg {
    background-color: $ui-color-yellow-light-d1;
}
.color-on-yellow-light-d1 {
    color: black;
}

.color-yellow-light {
    color: $ui-color-yellow-light;
}
.color-yellow-light-bg {
    background-color: $ui-color-yellow-light;
}
.color-on-yellow-light {
    color: black;
}

.color-yellow-light-l1 {
    color: $ui-color-yellow-light-l1;
}
.color-yellow-light-l1-bg {
    background-color: $ui-color-yellow-light-l1;
}
.color-on-yellow-light-l1 {
    color: black;
}

.color-yellow-light-l2 {
    color: $ui-color-yellow-light-l2;
}
.color-yellow-light-l2-bg {
    background-color: $ui-color-yellow-light-l2;
}
.color-on-yellow-light-l2 {
    color: black;
}

.color-teal-d2 {
    color: $ui-color-teal-d2;
}
.color-teal-d2-bg {
    background-color: $ui-color-teal-d2;
}
.color-on-teal-d2 {
    color: white;
}

.color-teal-d1 {
    color: $ui-color-teal-d1;
}
.color-teal-d1-bg {
    background-color: $ui-color-teal-d1;
}
.color-on-teal-d1 {
    color: white;
}

.color-teal {
    color: $ui-color-teal;
}
.color-teal-bg {
    background-color: $ui-color-teal;
}
.color-on-teal {
    color: white;
}

.color-teal-l1 {
    color: $ui-color-teal-l1;
}
.color-teal-l1-bg {
    background-color: $ui-color-teal-l1;
}
.color-on-teal-l1 {
    color: white;
}

.color-teal-l2 {
    color: $ui-color-teal-l2;
}
.color-teal-l2-bg {
    background-color: $ui-color-teal-l2;
}
.color-on-teal-l2 {
    color: white;
}

.color-teal-light-d2 {
    color: $ui-color-teal-light-d2;
}
.color-teal-light-d2-bg {
    background-color: $ui-color-teal-light-d2;
}
.color-on-teal-light-d2 {
    color: black;
}

.color-teal-light-d1 {
    color: $ui-color-teal-light-d1;
}
.color-teal-light-d1-bg {
    background-color: $ui-color-teal-light-d1;
}
.color-on-teal-light-d1 {
    color: black;
}

.color-teal-light {
    color: $ui-color-teal-light;
}
.color-teal-light-bg {
    background-color: $ui-color-teal-light;
}
.color-on-teal-light {
    color: black;
}

.color-teal-light-l1 {
    color: $ui-color-teal-light-l1;
}
.color-teal-light-l1-bg {
    background-color: $ui-color-teal-light-l1;
}
.color-on-teal-light-l1 {
    color: black;
}

.color-teal-light-l2 {
    color: $ui-color-teal-light-l2;
}
.color-teal-light-l2-bg {
    background-color: $ui-color-teal-light-l2;
}
.color-on-teal-light-l2 {
    color: black;
}

.color-purple-d2 {
    color: $ui-color-purple-d2;
}
.color-purple-d2-bg {
    background-color: $ui-color-purple-d2;
}
.color-on-purple-d2 {
    color: white;
}

.color-purple-d1 {
    color: $ui-color-purple-d1;
}
.color-purple-d1-bg {
    background-color: $ui-color-purple-d1;
}
.color-on-purple-d1 {
    color: white;
}

.color-purple {
    color: $ui-color-purple;
}
.color-purple-bg {
    background-color: $ui-color-purple;
}
.color-on-purple {
    color: white;
}

.color-purple-l1 {
    color: $ui-color-purple-l1;
}
.color-purple-l1-bg {
    background-color: $ui-color-purple-l1;
}
.color-on-purple-l1 {
    color: white;
}

.color-purple-l2 {
    color: $ui-color-purple-l2;
}
.color-purple-l2-bg {
    background-color: $ui-color-purple-l2;
}
.color-on-purple-l2 {
    color: white;
}

.color-purple-light-d2 {
    color: $ui-color-purple-light-d2;
}
.color-purple-light-d2-bg {
    background-color: $ui-color-purple-light-d2;
}
.color-on-purple-light-d2 {
    color: black;
}

.color-purple-light-d1 {
    color: $ui-color-purple-light-d1;
}
.color-purple-light-d1-bg {
    background-color: $ui-color-purple-light-d1;
}
.color-on-purple-light-d1 {
    color: black;
}

.color-purple-light {
    color: $ui-color-purple-light;
}
.color-purple-light-bg {
    background-color: $ui-color-purple-light;
}
.color-on-purple-light {
    color: black;
}

.color-purple-light-l1 {
    color: $ui-color-purple-light-l1;
}
.color-purple-light-l1-bg {
    background-color: $ui-color-purple-light-l1;
}
.color-on-purple-light-l1 {
    color: black;
}

.color-purple-light-l2 {
    color: $ui-color-purple-light-l2;
}
.color-purple-light-l2-bg {
    background-color: $ui-color-purple-light-l2;
}
.color-on-purple-light-l2 {
    color: black;
}

.color-green-d2 {
    color: $ui-color-green-d2;
}
.color-green-d2-bg {
    background-color: $ui-color-green-d2;
}
.color-on-green-d2 {
    color: white;
}

.color-green-d1 {
    color: $ui-color-green-d1;
}
.color-green-d1-bg {
    background-color: $ui-color-green-d1;
}
.color-on-green-d1 {
    color: white;
}

.color-green {
    color: $ui-color-green;
}
.color-green-bg {
    background-color: $ui-color-green;
}
.color-on-green {
    color: white;
}

.color-green-l1 {
    color: $ui-color-green-l1;
}
.color-green-l1-bg {
    background-color: $ui-color-green-l1;
}
.color-on-green-l1 {
    color: white;
}

.color-green-l2 {
    color: $ui-color-green-l2;
}
.color-green-l2-bg {
    background-color: $ui-color-green-l2;
}
.color-on-green-l2 {
    color: white;
}

.color-green-light-d2 {
    color: $ui-color-green-light-d2;
}
.color-green-light-d2-bg {
    background-color: $ui-color-green-light-d2;
}
.color-on-green-light-d2 {
    color: black;
}

.color-green-light-d1 {
    color: $ui-color-green-light-d1;
}
.color-green-light-d1-bg {
    background-color: $ui-color-green-light-d1;
}
.color-on-green-light-d1 {
    color: black;
}

.color-green-light {
    color: $ui-color-green-light;
}
.color-green-light-bg {
    background-color: $ui-color-green-light;
}
.color-on-green-light {
    color: black;
}

.color-green-light-l1 {
    color: $ui-color-green-light-l1;
}
.color-green-light-l1-bg {
    background-color: $ui-color-green-light-l1;
}
.color-on-green-light-l1 {
    color: black;
}

.color-green-light-l2 {
    color: $ui-color-green-light-l2;
}
.color-green-light-l2-bg {
    background-color: $ui-color-green-light-l2;
}
.color-on-green-light-l2 {
    color: black;
}
