$ui-tooltip-color: $ui-color-on-neutral-dark !default;
$ui-tooltip-background-color: $ui-color-neutral-dark !default;

.#{$ui-prefix}__tooltip {
    background: $ui-tooltip-background-color;
    color: $ui-tooltip-color;
    padding: 4px 8px;
    border-radius: 4px;
}

.#{$ui-prefix}__tooltip--min-width {
    min-width: 150px;
}

.#{$ui-prefix}__tooltip--max-width {
    max-width: 300px;
}

.#{$ui-prefix}__tooltip__arrow::before {
    background: $ui-tooltip-background-color;
}
