.#{$ui-prefix}__accordion {
    border: 1px solid $ui-color-grey-light;
}
.#{$ui-prefix}__accordion__title {
    padding: 7px $ui-content-padding;
    transition: 0.5s;
    cursor: pointer;
}
.#{$ui-prefix}__accordion__title--open {
    color: var(--on-accent-color);
    background-color: var(--accent-color);
}
.#{$ui-prefix}__accordion__title--closed {
    color: var(--text-color-dark);
}
.#{$ui-prefix}__accordion__content {
    transition: 0.6s;
    overflow: auto;
}
.#{$ui-prefix}__accordion__content--open {
    height: auto;
    max-height: 600px;
}
.#{$ui-prefix}__accordion__content--closed {
    max-height: 0;
}
