@import '@borrow-ui/ui/src/style/_prefix.scss';

.single-page__page {
    @media (min-width: 865px) {
        .#{$ui-prefix}__page__body {
            display: flex;
        }
    }

    @media (max-width: 864px) {
        .#{$ui-prefix}__page__body {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
