@import '@borrow-ui/ui/src/style/_prefix.scss';
@import '@borrow-ui/ui/src/style/vars/_colors.scss';

.home__container {
    padding: 35px 0;
    border-bottom: 1px solid $ui-color-neutral-white;
    width: 100%;
}

.home__title__container {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    height: 100%;
}

.home__logo {
    width: 48px;
    height: 48px;
    margin-right: 15px;
}

.home__title {
    font-size: 46px;
    display: inline-block;
    margin: 0;
    color: $ui-color-primary;
}

.home__github-container {
    display: inline-flex;
    align-items: center;
}

@media only screen and (min-width: 576px) {
    .home__github-container {
        justify-content: flex-end;
    }
}
@media only screen and (max-width: 576px) {
    .home__github-container {
        justify-content: center;
    }
}

.home__key-points {
    background: linear-gradient(150deg, $ui-color-primary 0%, $ui-color-accent 100%);
    color: $ui-color-on-primary;
    margin-bottom: 40px;
}
