.#{$ui-prefix}__text {
    margin-bottom: 1em;
    line-height: 1.5em;
}

.#{$ui-prefix}__text--big {
    font-size: $ui-font-size-big;
    font-weight: 300;
}

.#{$ui-prefix}__text--small {
    font-size: $ui-font-size-small;
}

.#{$ui-prefix}__text__subtitle {
    color: $ui-color-neutral;
}

.#{$ui-prefix}__text__monospace {
    font-family: monospace;
    margin: 0 0.2em;
    font-size: 1em;
    padding: 0 0.4em;
    display: inline-block;
    color: $ui-color-primary;
    background-color: darken($ui-color-neutral-white, 2);
    border-radius: 3px;
}
