@import '../../style/vars/colors';

.#{$ui-prefix}__badge {
    font-size: 12px;
    margin: 0 5px;
    padding: 1px 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.#{$ui-prefix}__badge--rounded {
    border-radius: 20px;
}

.#{$ui-prefix}__badge--circular {
    border-radius: 50%;
    margin: 0;
    padding: 2px;
    width: 24px;
    height: 24px;
}

.#{$ui-prefix}__badge--clickable {
    cursor: pointer;
}
