@import '../../styles/vars';

.styles-showcase__component {
    margin-bottom: 30px;
}

.styles-showcase__modal-content {
    padding: 10px;
    font-size: 13px;
}

.styles-showcase__separator-line {
    border-top: 1px solid #e3e3e3;
    border-bottom: 0;
}

.styles-showcase__color__container {
    margin-right: 10px;
    margin-bottom: 15px;
    color: $ui-color-neutral;
    font-weight: 400;

    &:hover .styles-showcase__color__usage {
        display: inline-block;
    }
}

.styles-showcase__color__usage {
    display: none;
    font-size: 12px;
    font-family: monospace;
}

.styles-showcase__colors {
    display: flex;
    flex-wrap: wrap;
}
.styles-showcase__colors-set {
    display: flex;
}

.styles-showcase__main-color {
    display: block;
    height: 150px;
    width: 130px;
    border: 1px solid $ui-color-neutral-light;

    &:hover .styles-showcase__color__usage {
        display: inline-block;
    }

    @media (max-width: 600px) {
        height: 80px;
        width: 90px;
    }
}

.styles-showcase__main-color__description {
    font-size: 12px;
    word-wrap: break-word;

    @media (max-width: 600px) {
        width: 90px;
    }
}

.styles-showcase__palette {
    display: flex;
    flex-wrap: wrap;
}

.styles-showcase__palette-color__variants__container {
    display: flex;
}

.styles-showcase__palette-color__variant {
    display: block;
    height: 30px;
    width: 130px;
}

.styles-showcase__color__example {
    font-family: monospace;
    padding: 15px;
    border: 1px solid $ui-color-grey-light;
}
