.#{$ui-prefix}__form__label {
    color: $ui-color-neutral;
    font-weight: 500;
}

.#{$ui-prefix}__form__label--required {
    color: $ui-color-negative;
    font-size: 12px;
    margin-top: -6px;
    display: inline-block;
}

.#{$ui-prefix}__form__label--horizontal {
    display: inline-block;
    padding-right: $ui-form-label-padding-right;
    line-height: 100%;
}

.#{$ui-prefix}__form__label--vertical {
    margin-bottom: 0.5rem;
}
