@mixin icon-control {
    margin: 3px 0 3px 3px;
    cursor: pointer;
    color: $ui-color-neutral;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 18px;

    &:hover {
        color: $ui-color-on-neutral-light;
        background-color: $ui-color-neutral-light;
    }
}
