@import '../../style/vars/main';

$ui-page-padding: 15px !default;
$ui-dashboard-header-height: 46px !default;
$ui-dashboard-footer-height: 46px !default;
$ui-page-header-height: 68px !default;
$ui-page-header-margin-bottom: 4px !default;

.#{$ui-prefix}__page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - #{($ui-dashboard-header-height + $ui-dashboard-footer-height)});
}
.#{$ui-prefix}__page--continuous-scroll {
    height: auto;
}

.#{$ui-prefix}__page--with-page-header {
    padding-top: $ui-page-padding - 4;
    height: calc(
        100vh - #{(
                $ui-dashboard-header-height + $ui-dashboard-footer-height + $ui-page-header-height +
                    $ui-page-header-margin-bottom
            )}
    );
}
