@import '../../style/vars/main';

.#{$ui-prefix}__page__body {
    padding: $ui-page-padding;
    overflow: auto;
    box-sizing: border-box;
}

@media (min-width: $ui-readable-content-min-width) {
    .#{$ui-prefix}__page__body--readable-content {
        margin: 0 auto;
        padding: $ui-page-padding calc((100% - 1300px) / 2 + #{$ui-sidebar-closed-width});
    }
}
