@import '../../vars/colors';
@import '../../vars/main';

$ui-dashboard-header-height: 0 !default;

$ui-sidebar-closed-width: 46px !default;
$ui-sidebar-open-width: 350px !default;
$ui-sidebar-trigger-height: $ui-sidebar-closed-width;

$ui-sidebar-color: $ui-color-neutral-light;

.borrow-ui__sidebar__container {
    flex: none;
    display: inline-block;
    width: $ui-sidebar-closed-width;
    transition: all 0.4s;
    background-color: $ui-sidebar-color;
    box-sizing: border-box;
}

.borrow-ui__sidebar__container--open {
    width: $ui-sidebar-open-width;
    box-shadow: inset -2px 0 10px -7px rgba(0, 0, 0, 0.3),
        inset -2px 0 10px -7px rgba(0, 0, 0, 0.15);
}

.borrow-ui__sidebar__container--closed {
    width: $ui-sidebar-closed-width;
}

.borrow-ui__sidebar__container--sticky {
    position: sticky;
    top: $ui-navbar-height;
}

.borrow-ui__sidebar {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: content-box;
    width: 100%;
}

.borrow-ui__sidebar__trigger {
    height: $ui-sidebar-trigger-height;
    width: $ui-sidebar-closed-width;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $ui-color-on-neutral-light;
    cursor: pointer;
}

%sidebar-icon {
    min-width: $ui-sidebar-closed-width;
    height: $ui-sidebar-trigger-height;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.borrow-ui__sidebar__icon {
    @extend %sidebar-icon;
}
/*
.borrow-ui__sidebar__icon__icon--active-open {
}
*/

.borrow-ui__sidebar__elements-container {
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.borrow-ui__sidebar__elements-container--with-trigger {
    height: calc(100% - #{$ui-sidebar-trigger-height});
}

.borrow-ui__sidebar__top-container {
    flex-grow: 1;
    transition: all 0.4s;
    overflow-y: auto;
    overflow-x: hidden;
}
.borrow-ui__sidebar__top-container--closed {
    padding-top: 34px;
}

.borrow-ui__sidebar__bottom-container {
}

.borrow-ui__sidebar__entry {
    min-width: $ui-sidebar-closed-width;
    display: flex;
    margin-bottom: $ui-sidebar-closed-width / 5;
    color: lighten($ui-color-on-neutral-light, 12);
    cursor: pointer;
    text-decoration: none;
}
.borrow-ui__sidebar__entry:hover {
    color: $ui-color-accent;
}

.borrow-ui__sidebar__entry--active {
    color: $ui-color-accent;
    background-color: $ui-color-on-primary;
}
.borrow-ui__sidebar__entry--active-open {
    width: 100%;
}

.borrow-ui__sidebar__entry__label {
    padding: 5px 15px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 150px;
    overflow: hidden;
    white-space: nowrap;
}

.borrow-ui__sidebar__entry__label--active {
    padding-left: 7px;
}

.borrow-ui__sidebar__entry__label__shortcut {
    font-size: 24px;
    text-transform: uppercase;
    @extend %sidebar-icon;
}

.borrow-ui__sidebar__entry__details {
    padding-left: 50px;
    transition: all 0.6s;
    display: none;
    overflow: hidden;
}
.borrow-ui__sidebar__entry__details--active {
    display: block;
}
/*
.borrow-ui__sidebar__entry__details--open {
}
*/

.borrow-ui__sidebar__entry__details--closed {
    max-height: 0;
}
