.#{$ui-prefix}__tile-link {
    display: inline-block;
    cursor: pointer;
}

.#{$ui-prefix}__tile-link__link {
    margin-bottom: 20px;
    margin-right: 15px;
    display: inline-flex;
    text-decoration: none;

    &:hover {
        .#{$ui-prefix}__block {
            color: $ui-color-accent;
        }
    }
}

.#{$ui-prefix}__tile-link__entry {
    display: inline-flex;
    padding: 10px;
}

.#{$ui-prefix}__tile-link__entry--big {
    width: 200px;
}

.#{$ui-prefix}__tile-link__entry--small {
    width: 140px;
}

.#{$ui-prefix}__tile-link__entry__icon-container {
    display: inline-flex;
    align-items: center;
    background-color: #f2f2f2;
    margin-bottom: 5px;
}

.#{$ui-prefix}__tile-link__entry__description {
    margin: 5px 0;
    color: $ui-color-neutral-light;
    font-size: 0.9em;
}
