@import '~react-day-picker/lib/style.css';

@import '@borrow-ui/ui/src/style/ui.full.scss';

@import 'styles/3rd-party.scss';

body {
    font-family: 'Segoe UI', $ui-font;
    font-weight: 400;
    font-size: $ui-font-size;
    background-color: $ui-background-color;
    color: $ui-font-color;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}

a {
    color: inherit;
}

@import './website.scss';
