.items-navigator {
    @media (max-width: 1299px) {
        display: none;
    }
    @media (min-width: 1300px) {
        width: 200px;
        min-width: 200px;
        max-height: calc(100% - 100px);
        overflow: auto;
        background-color: white;
        position: absolute;
        left: calc(100% / 2 + 450px);
        top: 60px;
        border-radius: 15px;
        box-shadow: 3px 1px 6px -1px rgb(255 255 255 / 25%), 2px 5px 4px -1px rgb(255 255 255 / 15%);
    }
}

.items-navigator-select {
    @media (max-width: 1299px) {
        width: calc(100% - 20px);
        margin-right: auto;
        margin-left: auto;
        position: absolute;
        top: 46px;
        padding: 15px;
        background-color: white;
        z-index: 5;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.15), 0 2px 4px -1px rgba(0, 0, 0, 0.09);
    }
    @media (min-width: 1300px) {
        display: none;
    }
}
