.components-showcase__component {
    margin-bottom: 30px;
}

.components-showcase__modal-content {
    padding: 10px;
    font-size: 13px;
}

.components-showcase__separator-line {
    border-top: 1px solid #e3e3e3;
    border-bottom: 0;
}
