@import '../../style/vars/main';

$ui-dashboard-header-height: 0 !default;
$ui-sidebar-closed-width: 46px !default;
$ui-sidebar-open-width: 275px !default;
$ui-sidebar-trigger-height: $ui-sidebar-closed-width !default;
$ui-sidebar-color: $ui-color-on-neutral-white !default;
$ui-sidebar-color-bg: $ui-color-neutral-white !default;
$ui-sidebar-entry-height: 40px !default;
$ui-sidebar-entry-hover-color: $ui-color-neutral !default;
$ui-sidebar-entry-hover-color-bg: white !default;
$ui-sidebar-entry-active-color: $ui-color-accent !default;
$ui-sidebar-entry-active-color-bg: $ui-color-on-accent !default;
$ui-sidebar-entry-content-toggle-color: $ui-color-on-neutral-light !default;
$ui-sidebar-entry-content-toggle-color-bg: $ui-color-neutral-light !default;

.#{$ui-prefix}__sidebar__container {
    flex: none;
    display: inline-block;
    width: $ui-sidebar-closed-width;
    transition: all 0.5s;
    background-color: $ui-sidebar-color-bg;
    box-sizing: border-box;
}

.#{$ui-prefix}__sidebar__container--open {
    width: $ui-sidebar-open-width;
}
.#{$ui-prefix}__sidebar__container--open--shadow {
    box-shadow: inset -2px 0 10px -7px rgba(0, 0, 0, 0.3),
        inset -2px 0 10px -7px rgba(0, 0, 0, 0.15);
}

.#{$ui-prefix}__sidebar__container--closed {
    width: $ui-sidebar-closed-width;
}

.#{$ui-prefix}__sidebar__container--sticky {
    position: sticky;
}

.#{$ui-prefix}__sidebar {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: content-box;
    width: 100%;
}

.#{$ui-prefix}__sidebar__trigger {
    height: $ui-sidebar-trigger-height;
    width: $ui-sidebar-closed-width;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $ui-sidebar-color;
    cursor: pointer;
}

%sidebar-icon {
    min-width: $ui-sidebar-closed-width;
    height: $ui-sidebar-entry-height;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.#{$ui-prefix}__sidebar__icon {
    @extend %sidebar-icon;
}
/*
.#{$ui-prefix}__sidebar__icon__icon--active-open {
}
*/

.#{$ui-prefix}__sidebar__elements-container {
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    transition: all 0.4s;
    overflow-x: hidden;
}
.#{$ui-prefix}__sidebar__elements-container--with-trigger {
    height: calc(100% - #{$ui-sidebar-trigger-height});
}

.#{$ui-prefix}__sidebar__entry {
    min-width: $ui-sidebar-closed-width;
    min-height: $ui-sidebar-entry-height;
    display: flex;
    align-items: center;
}

.#{$ui-prefix}__sidebar__entry--active {
    color: $ui-sidebar-entry-active-color;
    background-color: $ui-sidebar-entry-active-color-bg;
}

.#{$ui-prefix}__sidebar__entry__group {
    display: flex;
    align-items: center;
    color: $ui-sidebar-color;
    text-decoration: none;

    &:hover {
        color: $ui-sidebar-entry-hover-color;
        background-color: $ui-sidebar-entry-hover-color-bg;
    }
}

.#{$ui-prefix}__sidebar__entry__group--clickable {
    cursor: pointer;
}

.#{$ui-prefix}__sidebar__entry__label {
    padding: 5px 15px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 500;
}

.#{$ui-prefix}__sidebar__entry__label--active {
    padding-left: 7px;
}

.#{$ui-prefix}__sidebar__entry__label__shortcut {
    font-size: 18px;
    text-transform: uppercase;
    @extend %sidebar-icon;
}

.#{$ui-prefix}__sidebar__entry__toggle {
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;

    &:hover {
        color: $ui-sidebar-entry-content-toggle-color;
        background-color: $ui-sidebar-entry-content-toggle-color-bg;
        border-radius: 50%;
    }
}

.#{$ui-prefix}__sidebar__entry__content {
    max-height: 0;
    padding-left: $ui-sidebar-closed-width;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
    color: $ui-sidebar-color;
}
.#{$ui-prefix}__sidebar__entry__content--visible {
    max-height: 500px;
    transition: max-height 0.35s ease-in;
}
